.titleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.75rem;
  flex-wrap: wrap;
}

.title {
  font-size: 3rem;
  margin: 0;
}

/**
  Blog post title should be smaller on smaller devices
**/
@media (max-width: 576px) {
  .title {
    font-size: 2rem;
  }
}
